@import '../partial/mixin';

.banner-layout {
    width: 100vw;

    .layout__banner {
        width: 100%;
        height: calc(100vh - 300px);
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .layout__title {
        margin: 30px 0 60px 0;
        // direction - justify content - align items - flex wrap
        @include dflex(column, flex-start, center, nowrap);
        height: 160px;

        h2 {
            margin-bottom: 15px;
            color: var(--butterfly-bush);
        }

        p {
            color: var(--butterfly-bush);
            max-width: 50%;
            text-align: center;
            font-style: italic;
            line-height: 22px;
        }
    }
}