@import '../../../styles/partial/mixin';

.navigation-bar {
    width: 280px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid var(--heavy-white-smoke);
    $padding-value: 10px;

    .navigation-bar__logo {
        padding: $padding-value;
        width: calc(100% - $padding-value * 2);
        height: auto;
    }

    ul {
        // direction - justify content - align items - flex wrap
        @include dflex(column, flex-start, center, nowrap);
        gap: 15px;
        width: calc(100% - $padding-value * 2);
        height: fit-content;
        padding: 0 $padding-value;

        li {
            width: 80%;
            height: 40px;
            overflow: hidden;

            button {
                width: 100%;
                height: 100%;
                // border - border radius - background color - color - padding - font size
                @include normal-btn(none, 6px, white, black, 0 10px, 0.8rem);
                // direction - justify content - align items - flex wrap
                @include dflex(row, flex-start, center, nowrap);
                gap: 15px;

                i {
                    font-size: 0.7rem;
                }

                span {
                    font-size: 0.7rem;
                    font-weight: 600;
                }
            }

            &.active {
                button {
                    background-color: var(--ultramarine-blue);
                    color: white;
                }
            }
        }
    }
}