@import '../partial/mixin';


.country__empty {
    width: 100vw;
    height: calc(100vh - 200px);
    // direction - justify content - align items - flex wrap
    @include dflex(row, center, center, nowrap);
    .empty__icon {
        // direction - justify content - align items - flex wrap
        @include dflex(row, center, center, nowrap);
        gap: 20px;
        img {
            width: 200px;
            height: 200px;
        }
    }
}