@import '../../../styles/partial/mixin';


.hotel-edit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    .overlay {
        background-color: rgba($color: #000000, $alpha: 0.8);
        width: 100%;
        height: 100%;
    }

    .hotel-edit__box-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: fit-content;
        background-color: white;
        overflow: hidden;
        padding: 40px 20px;

        .hotel-edit__box {
            width: 100%;
            border-radius: 10px;
            // direction - justify content - align items - flex wrap
            @include dflex(column, flex-start, center, nowrap);

            .input-wrapper {
                width: 100%;
                height: 50px;
                border: 1px solid black;
                margin-bottom: 40px;
                position: relative;

                label {
                    position: absolute;
                    top: -25px;
                    left: 0;
                    font-size: 0.75rem;
                    font-weight: 600;
                }
            }

            input {
                width: calc(100% - 40px);
                height: 100%;
                outline: none;
                font-family: Montserrat;
                font-size: 0.75rem;
                font-weight: 500;
                border: none;
                background-color: transparent;
                padding: 0 20px;
            }

            .hotel-edit__address {
                width: 100%;
                // direction - justify content - align items - flex wrap
                @include dflex(row, space-between, center, nowrap);
                gap: 15px;
            }

            .btn-wrapper {
                // direction - justify content - align items - flex wrap
                @include dflex(row, space-between, center, nowrap);
                gap: 25px;

                button[type='submit'] {
                    margin-top: 20px;
                    // border - border radius - background color - color - padding - font size
                    @include normal-btn(none, 5px, var(--ultramarine-blue), white, 10px 25px, 0.75rem);
                }

                button[type='button'] {
                    margin-top: 20px;
                    // border - border radius - background color - color - padding - font size
                    @include normal-btn(none, 5px, var(--quill-grey), black, 10px 25px, 0.75rem);
                }
            }
        }
    }

    &.active {
        opacity: 1;
        pointer-events: all;
        visibility: visible;
    }
}