// default.scss

// Global configuration
@import './styles/scss/config.scss';

// App style
.App {
    .app__notification {
        font-family: RobotoBold;
        font-size: 0.75rem;
        letter-spacing: -0.5px;
    }
}
