@import './mixin';

.common-component__modern-input {
    width: 100%;
    height: 1.5rem;
    border-bottom: 1px solid black;
    position: relative;
    & > button {
        position: relative;
        width: 100%;
        height: 100%;
        // direction - justify content - align items - flex wrap
        @include dflex(row, space-between, center, nowrap);
        // border - border radius - background color - color - padding - font size
        @include normal-btn(0, 0, transparent, black, auto, 1rem);

        input {
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            pointer-events: none;
        }
    }

    .cc-modern-input__dropdown {
        display: none;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.2);
        border-radius: 0 0 5px 5px;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        width: 100%;
        height: max-content;
        max-height: 500px;
        padding: 1rem 2rem;
        overflow-y: hidden;

        .cc-modern-input__searchbox {
            width: 100%;
            background-color: white;
            width: calc(100% - 40px);
            box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.3);
            border-radius: 5px;
            padding: 10px 20px;
            // direction - justify content - align items - flex wrap
            @include dflex(row, flex-start, center, nowrap);
            i {
                position: relative;
                bottom: -1.5px;
                margin-right: 0.5rem;
            }
            input {
                border: none;
                background-color: transparent;
                outline: none;
                font-size: 0.75rem;
                width: 100%;
                height: 100%;
            }
        }
        .cc-modern-input__up-level-options {
            overflow-x: auto;
            overflow-y: hidden;
            margin: 1rem 0 1rem 0;
            // direction - justify content - align items - flex wrap
            @include dflex(row, flex-start, center, nowrap);

            button {
                padding: 10px 35px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
        .cc-modern-input__normalOptions {
            width: 100%;
            max-height: 180px;
            overflow-y: auto;
            // direction - justify content - align items - flex wrap
            @include dflex(column, flex-start, flex-start, nowrap);

            button {
                width: 100%;
                text-transform: uppercase;
                // border - border radius - background color - color - padding - font size
                @include normal-btn(none, 0, var(--desert-storm), black, 20px 0 20px 0, 0.75rem);
                &:hover {
                    background-color: var(--quill-grey);
                }
            }
        }

        & > p {
            font-size: 1rem;
            margin: 1rem 0;
        }
        .cc-modern-input__price-detail {
            // direction - justify content - align items - flex wrap
            @include dflex(row, space-between, center, nowrap);
        }
    }

    &.active {
        .cc-modern-input__dropdown {
            display: block;
        }
    }
    &.chosen {
        border-bottom: 1px solid var(--butterfly-bush);

        & > button {
            color: var(--butterfly-bush);
        }
    }
}
.common-component__hotel-card--vertical {
    width: 100%;
    .cc-hotel-card__top--v {
        width: 100%;
        height: 12rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .cc-hotel-card__body--v {
        box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.12);
        padding: 1rem 1.25rem;
        .cc-hotel-card-body__title {
            margin-bottom: 0.5rem;
            // direction - justify content - align items - flex wrap
            @include dflex(row, space-between, flex-start, nowrap);

            h4 {
                // direction - justify content - align items - flex wrap
                @include dflex(row, space-between, flex-start, nowrap);
                font-weight: 600;
            }
            button {
                // border - border radius - background color - color - padding - font size
                @include normal-btn(0, 0, transparent, black, auto, 1.5rem);
            }
        }
        .cc-hotel-card-body__rating {
            margin-bottom: 1rem;
            // direction - justify content - align items - flex wrap
            @include dflex(row, space-between, flex-end, nowrap);
            .hotel-card-body-rating__star {
                img {
                    margin-right: 0.5rem;
                }
            }
            .hotel-card-body-rating__review {
                // direction - justify content - align items - flex wrap
                @include dflex(row, flex-end, flex-end, nowrap);
                small {
                    margin-right: 0.5rem;
                }
                .rating-review__score {
                    width: fit-content;
                    height: fit-content;
                    border-radius: 15px 15px 15px 0;
                    background-color: var(--butterfly-bush);
                    
                    padding: 6px 10px;
                    color: white;
                    font-weight: 600;
                }
            }
        }
        .cc-hotel-card-body__location {
            margin-bottom: 1rem;
            // direction - justify content - align items - flex wrap
            @include dflex(row, flex-start, flex-start, nowrap);
            i {
                font-size: 1.5rem;
                opacity: 0.6;
                margin-right: 0.5rem;
            }
            span {
                // This config to show only 2 line
                // If overflow, use "..." instead
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.75rem;
            }
        }
        .cc-hotel-card-body__price {
            margin-bottom: 1rem;

            & > p {
                font-weight: 500;
            }
            & > small {
                color: var(--dirty-orange);
                font-weight: 600;
            }

            .cc-hotel-card-body-price__money {
                // direction - justify content - align items - flex wrap
                @include dflex(row, flex-start, center, nowrap);

                & > p {
                    color: var(--butterfly-bush);
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin-right: 0.5rem;
                }
                & > small {
                    color: var(--mountain-mist);
                    font-size: 1rem;
                    font-weight: bold;
                    text-decoration: line-through;
                }
            }
        }
        .cc-hotel-card-body__interact {
            margin-bottom: 1rem;
            // direction - justify content - align items - flex wrap
            @include dflex(row, flex-start, center, nowrap);
            gap: 10px;
            .cc-hotel-card-body__report-btn {
                // border - border radius - background color - color - padding - font size
                @include normal-btn(0, 5px, rgb(255, 0, 0), white, 8px 16px, 0.75rem);
            }
            .cc-hotel-card-body__detail-btn {
                // border - border radius - background color - color - padding - font size
                @include normal-btn(0, 5px, var(--quill-grey), black, 8px 30px, 0.75rem);

                i {
                    position: relative;
                    bottom: -1px;
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
.common-component__page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: white;
    .cc__page-loader-container {
        @include absolute-center;
        width: 300px;
        height: 85px;
        overflow: hidden;
        background-image: url('../../assets/images/graphics/loading-sprite.5f0e6cf.png');
        background-size: 300px 2600px;
        background-repeat: no-repeat;
        animation: page-loader 0.5s steps(30) infinite;
    }
}
.common-component__nav-dropdown {
    position: relative;
    & > button {
        font-size: 0.8rem;
        font-weight: 600;
        white-space: nowrap;
        cursor: pointer;
        i {
            font-size: 0.6rem;
            bottom: -1px;
            margin-left: 0.25rem;
        }
    }
    .cc-nav-dropdown__content {
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        z-index: 9;
        transform: translateX(-50%);
        width: max-content;
        height: max-content;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        box-shadow: 0px 3px 15px -3px rgba(0,0,0,0.5);
        transition: all 0.2s ease-in;
        // direction - justify content - align items - flex wrap
        @include dflex(column, flex-start, center, nowrap);
        a {
            padding: 10px 30px;
            font-size: 0.6rem;
            transition: color 0.1s ease-in;
            color: black;
            font-weight: 600;
            &:hover {
                color: red;
            }
        }
        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}
.common-component__user-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    z-index: 999;
    box-shadow: 2px 3px 15px -3px rgba(0,0,0,0.5);

    visibility: hidden;
    width: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-in;
    .cc-user-sidebar__header {
        margin: 1rem calc(10px + 1rem);
        // direction - justify content - align items - flex wrap
        @include dflex(row, space-between, center, nowrap);
        .cc-user-sidebar-header__close-btn {
            font-weight: 500;
            // border - border radius - background color - color - padding - font size
            @include normal-btn(0, 5px, var(--quill-grey), black, 10px 15px, 0.75rem);
        }
    }
    ul {
        width: 100%;
        li {
            width: 100%;
            height: 40px;
            margin: 10px 20px;
            a {
                padding-left: 1rem;
                // direction - justify content - align items - flex wrap
                @include dflex(row, flex-start, center, nowrap);
                width: 100%;
                height: 100%;
                font-size: 0.75rem;
                font-weight: 500;
                color: black;
                border-radius: 5px;
                transition: all 0.2s ease-in;
                &:hover {
                    background-color: var(--quill-grey);
                }
            }
            button {
                font-weight: 500;
                width: 100%;
                height: 100%;
                // direction - justify content - align items - flex wrap
                @include dflex(row, flex-start, center, nowrap);
                // border - border radius - background color - color - padding - font size
                @include normal-btn(0, 5px, transparent, black, 0 1rem 0 1rem, 0.75rem);
                &:hover {
                    background-color: var(--quill-grey);
                }
            }
            i {
                margin-right: 10px;
            }
        }
    }
    &.active {
        visibility: visible;
        width: 300px;
        opacity: 1;
        pointer-events: all;
    }
}
.common-component__banner-input-wrapper {
    // direction - justify content - align items - flex wrap
    @include dflex(row, flex-start, center, nowrap);
    .common-component__banner-input, 
    .cc-banner-input__datetime--start, 
    .cc-banner-input__datetime--end,
    .cc-banner-input__people-e-room {
        background-color: white;
        border-radius: 10px;
        width: fit-content;
        height: 50px;
        padding: 0 15px; 
        overflow-x: hidden;
        // direction - justify content - align items - flex wrap
        @include dflex(row, flex-start, center, nowrap);
        i {
            opacity: 0.7;
        }
        input {
            outline: none;
            border: none;
            font-family: Montserrat;
        }
        * {
            pointer-events: none;
        }
    }
    .common-component__banner-input input {
        font-weight: 600;
        font-family: Montserrat;
        font-size: 0.75rem;
    }
    .cc-banner-input__datetime--start,
    .cc-banner-input__datetime--end {
        cursor: pointer;
        position: relative;
        gap: 10px;
        input {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    .cc-banner-input__datetime--start {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0.25px solid var(--quill-grey);
    }
    .cc-banner-input__datetime--end {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0.25px solid var(--quill-grey);
    }
    .cc-banner-input__per-wrapper {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: calc(100% + 8px);
            right: 40px;
            z-index: 999;
            border-bottom: 15px solid;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            display: block;
            height: 0;
            width: 0;
            margin-left: 220px;
            border-bottom-color: #fff;
        }
        .cc-banner-input__people-e-room {
            cursor: pointer;
            gap: 10px;
        }
        .cc-banner-input__per-dropdown {
            position: absolute;
            top: calc(100% + 20px);
            right: 0;
            background-color: white;
            z-index: 800;
            width: 400px;
            height: fit-content;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
            border-radius: 10px;
            .per-dropdown__option {
                padding: 1rem 2rem;
                // direction - justify content - align items - flex wrap
                @include dflex(row, space-between, center, nowrap);
    
                p {
                    font-weight: 600;
                    font-size: 1rem;
                    small {
                        opacity: 0.7;
                    }
                }

                input {
                    display: none
                }
    
                .per-dropdown-option__counter {
                    // direction - justify content - align items - flex wrap
                    @include dflex(row, flex-end, center, nowrap);
                    gap: 15px;
                    .option-counter__btn--decrease {
                        // border - border radius - background color - color - padding - font size
                        @include normal-btn(1.5px solid var(--butterfly-bush), 50%, transparent, var(--butterfly-bush), 2px 5px, 1rem);
                        &.disable {
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }
                    .option-counter__btn--increase {
                        // border - border radius - background color - color - padding - font size
                        @include normal-btn(1.5px solid var(--butterfly-bush), 50%, transparent, var(--butterfly-bush), 2px 5px, 1rem);
                    }
                }
            }
        }
    }
    .cc-banner-input__multiline-value {
        // direction - justify content - align items - flex wrap
        @include dflex(column, center, flex-start, nowrap);
        p {
            &:nth-child(1) {
                font-weight: 600;
            }
            &:nth-child(2) {
                opacity: 0.7;
                font-weight: 500;
            }
        }
    }
}

@keyframes page-loader {
    0% { background-position: 0 0; }
    100% { background-position: 0 -2600px }
}